<div style="padding: 30px;">
    <div class="container">
        <ul class="chronosList">
            <li>&nbsp;</li>
            <li class="lineN1">{{ service.app.days }} dias</li>
            <li>&nbsp;</li>
            <li class="lineN2">{{ service.app.hours }} horas</li>
            <li>&nbsp;</li>
            <li class="lineN3">{{ service.app.minutes }} minutos</li>
            <li>&nbsp;</li>
            <li class="lineN4">{{ service.app.seconds }} segundos</li>
            <li>&nbsp;</li>
        </ul>
    </div>
  </div>
  