<div style="padding: 30px;">
  <div class="container">
      <ul class="chronosList">
          <li>&nbsp;</li>
          <li class="lineN1">{{ app.days }} dias</li>
          <li>&nbsp;</li>
          <li class="lineN2">{{ app.hours }} horas</li>
          <li>&nbsp;</li>
          <li class="lineN3">{{ app.minutes }} minutos</li>
          <li>&nbsp;</li>
          <li class="lineN4">{{ app.seconds }} segundos</li>
          <li>&nbsp;</li>
      </ul>
  </div>
</div>
<div style="padding-top: 10px;">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5943786919626863"
      crossorigin="anonymous"></script>
  <!-- Countdown-Ads -->
  <ins class="adsbygoogle"
      style="display:inline-block;max-width:300px;max-height:300px"
      data-ad-client="ca-pub-5943786919626863"
      data-ad-slot="8365996367"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>      
</div>  
<div>
    <br>
</div>
<div style="position: absolute; bottom: 0; left: 0; width: 100%; background-color: green;">
    <span>
        <a class="footer-ads" href="https://github.com/avmesquita/countdown-app" target="_blank">
            &copy;&nbsp;Contagem Regressiva
        </a>    
    </span>
</div>