.stayOnTop {
    position: absolute; 
    top: 0; 
    left:0; 
    width: 100%; 
    background-color: green;
}

.container {
    text-align: center;
}
.chronosList {
    list-style-type: none;
    margin-block-start:0px!important;
    padding-inline-start: 0px!important;
}

.solidGreenLine {
    border-top: 1px solid green;
}

.dashedGreenLine {
    border-top: 1px dashed green;
}

.lineN1 {
    font-size: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lineN2 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lineN3 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.lineN4 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.footer-ads {
    text-decoration: none;
    color:yellow;
    font-family: 'Courier New', Courier, monospace;
}

.footer-ads:hover {
    text-decoration: none;
    color:white
}